<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Scraper.Data.Properties.Settings.ScraperConnectionString"
            connectionString="Data Source=laptop\sqlexpress;Initial Catalog=Scraper;Persist Security Info=True;User ID=sa;Password=3773810"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>